.registration-page {
    display: flex;
    align-items: center;
    padding: 2rem;
  }

  .r-left,.r-right{
    margin: 8rem;
  }

  .r-left img{
    margin: 2px;
    border-radius: 20%;
  }
  
  .reg {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 .8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.7rem);
    -webkit-backdrop-filter: blur(1.7rem);
    border-radius: 1rem;
    width: 110rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem ;
  }

  .registration-form {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 2rem;
    margin-top: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(94, 63, 63, 0.1);
  }
  
  .form-input {
    padding: 10px;
    background: #c79c9c;
    border: 1px solid #bb5555;
    border-radius: 5px;
  }

  .form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #23527c;
  }

  
.login {
  background: linear-gradient(135deg, #3188b1, #894999);
  border-radius: 50px;
  padding: 40px;
  width: 35rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.avatar {
  background: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: -60px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar i {
  font-size: 40px;
  color: #9333ea;
}
.input-container {
  background: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.input-container i {
  color: #9333ea;
  margin-right: 10px;
}
.input-container input {
  border: none;
  outline: none;
  flex: 1;
}
.input-container input[type="password"] {
  letter-spacing: 2px;
}
.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: white;
}
.remember-me input {
  margin-right: 10px;
}
.login-btn {
  background: linear-gradient(135deg, #3b82f6, #9333ea);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}
.signup {
  color: white;
}
.signup a {
  color: #9333ea;
  text-decoration: none;
}
